# LangChain Core
langchain
langchain-core
grandalf
langchain-community
langchain-chroma
langchain_experimental

# OpenAI Integration
pydantic
langchain-openai
openai
streamlit
pypdf
beautifulsoup4
chromadb
tiktoken
faiss-cpu
wikipedia
duckduckgo-search
ddgs
requests

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai
youtube-transcript-api

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub
sentence-transformers

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn